main .main-container {

  & label {
    margin-top: 1rem;
    color: var(--text-body);
    font: var(--body);
  }

  & input, textarea {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    color: var(--input-placeholder);
    font: var(--body);
    height: 3rem;
  }

  & input::placeholder {
    color: var(--input-placeholder);
  }

  & .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  & .flex {
    display: flex;
    gap: 1rem;

    & .input-wrapper {
      width: 17rem;
    }

    /* style input calendar */

    & input[type="datetime-local"] {
      position: relative;
      
      &::-webkit-calendar-picker-indicator {
        opacity: 0;
        cursor: pointer;
        position: absolute;
        width: 100%;
      }
    }
  }

  /* style button type-event */

  & .radio-flex {
    display: flex;
    flex-direction: column;
    width: 17rem;

    & label {
      margin-bottom: 0.75rem;
    }
  }

  & .radio-wrapper, .cover-photo-wrapper {
    background-color: var(--input-base);
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    border: 1px solid var(--input-stroke);
    border-radius: 8px;
    gap: 0.25rem;

    & label {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      cursor: pointer;

      color: var(--input-placeholder);
      font: var(--body-sm);

      height: 2.5rem;
      width: 8.125rem;
      border-radius: 8px;
      margin: 0;

      background-color: var(--input-base);
      transition: background-color 0.2s;

      & svg {
        width: 1rem;
        height: 1rem;
        fill: var(--input-placeholder);
        transition: fill 0.3s;
      }
    }

    & input[type="radio"], input[type="file"] {
      display: none;
      background-color: var(--input-base);
    }

    & input[type="radio"]:hover {
      background-color: #3f444b;
    }

    & input[type="radio"]:checked + label {
      background-color: #2D3136;
      margin: 0;
      border-radius: 4px;
      color: var(--text-header);
      font: var(--body-sm);
      font-weight: 600;
      height: 2.5rem;
    }

    & input[type="radio"]:checked + label svg {
      fill: var(--icon-checked);
    }
  }

  & textarea {
    height: 8.5rem;
    resize: none;
  }
}

.personalization {

  & label {
    display: flex;
    margin: 0;
    color: var(--input-placeholder);
    font: var(--body-sm);
  }
  
  & .button-color {
    cursor: pointer;
    border: 2px solid transparent;
    transition: circle 0.1s;
  }

  & input[type="radio"] {
    display: none;
  }

  & input:checked + .button-color {
    border: 2px solid #59B2FF;
    border-radius: 50%;
  }
}

/* button mode */

.mode-style {

  & .toggle-switch {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    & .mode-appearance {
      display: flex;
      align-items: center;
      gap: 0.75rem;
  
      & input[type="checkbox"] {
        display: none;
      }

      & .switch { /* config button base */
        position: relative;
        background-color: var(--input-base);
        width: 4rem;
        height: 2rem;
        border-radius: 2.5rem;
        display: flex;
        align-items: center;
        padding: 0.25rem;
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        & .slider {
          position: absolute;
          background-color: var(--input-stroke);
          border-radius: 50%;
          width: 1.5rem;
          height: 1.5rem;
          transition: all 0.5s ease-in-out;
        }
      }

      & input[type="checkbox"]:checked ~ .switch {
        background-color: var(--text-header);
      }

      & input[type="checkbox"]:checked ~ .switch .slider {
        transform: translateX(2rem);
      }

      & input[type="checkbox"]:checked ~ .label-text::after {
        content: "Claro";
      }

      & input[type="checkbox"]:not(:checked) ~ .label-text::after {
        content: "Escuro";
      }

      & .label-text {
      font: var(--body-sm);
      font-weight: 600;
      color: var(--text-header);
      }
    }
  }

  & svg {
    width: 1rem;
    height: 1rem;
  }

  & .cover-photo {
    & .cover-photo-wrapper {
      cursor: pointer;
    }
  }
}